libgeotiff-dev=1.7.1-2~jammy0
libgdal30=3.4.3+dfsg-1~jammy0
libavformat58=7:4.4.2-0ubuntu0.22.04.1
libgdal-dev=3.6.4+dfsg-1~jammy0
rsync=3.2.7-0ubuntu0.22.04.2
libavcodec58=7:4.4.2-0ubuntu0.22.04.1
libboost-serialization1.74.0=1.74.0-14ubuntu3
libamd2=1:5.10.1+dfsg-4build1
libboost-system1.74.0=1.74.0-14ubuntu3
libboost-program-options1.74.0=1.74.0-14ubuntu3
libtiff-dev=4.3.0-6ubuntu0.7
proj-data=9.1.1-1~jammy0
libflann-dev=1.9.1+dfsg-11
libswscale-dev=7:4.4.2-0ubuntu0.22.04.1
libcolamd2=1:5.10.1+dfsg-4build1
liblapack3=3.10.0-2ubuntu1
procps=2:3.3.17-6ubuntu2.1
g++-10=10.5.0-1ubuntu1~22.04
libccolamd2=1:5.10.1+dfsg-4build1
libtbb2-dev=2020.3-1ubuntu3
python3-distutils=3.10.8-1~22.04
libgoogle-glog-dev=0.5.0+really0.4.0-2
libcholmod3=1:5.10.1+dfsg-4build1
gdal-bin=3.6.4+dfsg-1~jammy0
pkg-config=0.29.2-1ubuntu3
libsuitesparseconfig5=1:5.10.1+dfsg-4build1
libboost-all-dev=1.74.0.3ubuntu7
libcamd2=1:5.10.1+dfsg-4build1
libxslt1-dev=1.1.34-4ubuntu0.22.04.1
libavformat-dev=7:4.4.2-0ubuntu0.22.04.1
libjpeg-turbo8=2.1.2-0ubuntu1
libtiff5=4.3.0-6ubuntu0.7
build-essential=12.9ubuntu3
libavcodec-dev=7:4.4.2-0ubuntu0.22.04.1
libusb-1.0-0-dev=2:1.0.25-1ubuntu1
libspqr2=1:5.10.1+dfsg-4build1
libjpeg-dev=8c-2ubuntu10
python3-setuptools=59.6.0-1.2ubuntu0.22.04.1
libgeotiff5=1.7.1-2~jammy0
libgoogle-glog0v5=0.5.0+really0.4.0-2
proj-bin=9.1.1-1~jammy0
libpdal-dev=2.5.0+ds-1~jammy1
libcgal-dev=5.4-1
libboost-system-dev=1.74.0.3ubuntu7
libwebpdemux2=1.2.2-2ubuntu0.22.04.2
python3-pkg-resources=59.6.0-1.2ubuntu0.22.04.1
python3-requests=2.25.1+dfsg-2ubuntu0.1
python3-pip=22.0.2+dfsg-1ubuntu0.4
libboost-iostreams-dev=1.74.0.3ubuntu7
libsuitesparse-dev=1:5.10.1+dfsg-4build1
libeigen3-dev=3.4.0-2ubuntu2
libtbb2=2020.3-1ubuntu3
libboost-program-options-dev=1.74.0.3ubuntu7
libboost-iostreams1.74.0=1.74.0-14ubuntu3
libswscale5=7:4.4.2-0ubuntu0.22.04.1
gfortran=4:11.2.0-1ubuntu1
libboost-serialization-dev=1.74.0.3ubuntu7
python3-wheel=0.37.1-2ubuntu0.22.04.1
libflann1.9=1.9.1+dfsg-11
swig3.0=3.0.12-2.2ubuntu1
pdal=2.5.0+ds-1~jammy1
gcc-10=10.5.0-1ubuntu1~22.04
liblapack-dev=3.10.0-2ubuntu1
libproj-dev=9.1.1-1~jammy0
git=1:2.34.1-1ubuntu1.9
libcxsparse3=1:5.10.1+dfsg-4build1
cmake
libssl-dev
ninja-build=1.10.1-1
python3-dev=3.10.6-1~22.04
libjsoncpp-dev=1.9.5-3
python3-gdal=3.6.4+dfsg-1~jammy0
libpng-dev=1.6.37-3build5
libxext-dev=2:1.3.4-1build1
libopenjpip7=2.4.0-6
libpng16-16=1.6.37-3build5
libxext6=2:1.3.4-1build1
